@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Space+Grotesk:wght@500;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    --main-bg: #F8EDEB;
    --secondary-bg: #FFF9F9;
    --tertiary-bg: #FEC89A;
    --main-button-bg: #FEC5BB;
    --font: #575757;
    --font-placeholder: #8E9EAD;
    --header-weight: 600;
    --text-font: 'Nunito', sans-serif;
    --header-font: 'Space Grotesk', sans-serif;
    --navbar-font-size: 1.6rem;
    --header-font-size: 6.4rem;
    --button-font-size: 1.6rem;
    --body-font-size: 2.4rem;
    --shadows: 1px 1px 0px 2px #222831;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    background-color: var(--main-bg);
}

header nav img {
    width: 180px;
}

nav .nav-desktop {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 0;
}

nav .nav-mobile {
    display: none;
}

nav ul {
    display: inherit;
    column-gap: 40px;
    align-items: center;
}

nav ul li a {
    font-size: var(--navbar-font-size);
}

a {
    color: var(--font);
}

.container {
    margin: 0 auto;
    background-color: var(--secondary-bg);
    background-image: url("./assets/Paws.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-button {
    padding: 0 24px;
    height: 48px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    font-size: var(--button-font-size);
    background-color: var(--main-button-bg);
    box-shadow: var(--shadows);
    border: none;
    cursor: pointer;
    color: var(--font);
}

.secondary-button {
    width: 165px;
    height: 48px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    font-size: var(--button-font-size);
    background-color: transparent;
    box-shadow: var(--shadows);
    border: 1px solid #222831;
    cursor: pointer;
    color: var(--font);
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    color: var(--font);
}

h2 {
    font-family: var(--header-font);
    font-size: 4rem;
    color: var(--font);
}

p {
    font-size: var(--body-font-size);
    color: var(--font);
}

.caption,
b {
    font-size: 2.2rem;
}

.hero-content .form label,
.hero-content .form label b {
    font-size: 1.6rem;
}

.hero-content {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 56px 24px 0;
    row-gap: 40px;
}

.input-email {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    box-shadow: var(--shadows);
    margin-top: 16px;
}

.input-email button {
    width: 300px;
}

.form {
    max-width: 450px;
    margin: 56px auto;
}

input {
    width: 100%;
    border: none;
    height: 48px;
    margin-left: 16px;
    font-size: 1.6rem;
    background-color: transparent;
}

input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 1.6rem;
    color: var(--font-placeholder);
}

.hero-content p {
    max-width: 600px;
    margin-top: 16px;

}

.bottom {
    position: relative;
    margin-top: -90px;
    z-index: -1000;
}

.top {
    position: relative;
    margin-bottom: -90px;
    z-index: -1000;
}

.services-container {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: 0 24px;
    justify-content: space-between;
    background-image: url("./assets/Paws.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-images {
    display: flex;
    height: auto;
}

.product-images::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 215px;
    background-color: var(--tertiary-bg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #232323;
    z-index: 99;
    margin-top: -10px;
    margin-right: 24px;
}

.product-images img {
    max-height: 530px;
    z-index: 100;
}

.product-images img:nth-child(2) {
    margin-top: 100px;
    margin-left: -20px;
}

.services-content {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
}

.services-content p {
    margin-top: 24px;
}

.services-content .main-button {
    margin-top: 48px;
    width: 250px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: left !important;
    padding: 0 24px;
}

.services-container.reverse .services-content {
    align-items: flex-start;
    text-align: left;
}

.contact-container {
    max-width: 900px;
    margin: auto;
    padding: 0 16px 56px;
}

.contact-container h2 {
    text-align: center;
}

.contact-container .form {
    margin: 0 auto;
}

.footer-container {
    max-width: 1280px;
    margin: auto;
    padding: 56px 16px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.footer-social .social-media {
    display: inherit;
    align-items: center;
    column-gap: 32px;
}

.footer-social .social-media a {
    display: inherit;
    align-items: center;
}

.footer-social img {
    width: 73px;
    height: 64px;
    align-items: center;
}

.footer-container p,
.footer-container a {
    font-size: 1.8rem;
}

i {
    display: inherit;
    font-size: 32px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links .links a:nth-child(1) {
    margin-right: 24px;
}

hr {
    margin: 56px 0;
}

.nav-mobile-header {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
}

.nav-mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg);
    width: 0;
    height: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    transition: width 0.2s linear;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -ms-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
}

.nav-mobile-menu-content {
    width: 100%;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

.nav-mobile-menu-content ul {
    flex-direction: column;
    text-align: center;
    row-gap: 40px;
}

.nav-mobile-menu-content button {
    margin-top: 40px;
    width: 300px;
}

.nav-mobile-menu.active {
    width: 100%;
    height: 100%;
}

.nav-mobile-menu.active .nav-mobile-menu-content {
    opacity: 100%;
}


.thanks-container,
.thanks-content {
    height: 90vh;
    display: grid;
    row-gap: 24px;
    place-items: center;
    align-content: center;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 16px;
}

.thanks-content img {
    width: 200px;
}

.thanks-container .main-button {
    width: 200px;
}

@media screen and (max-width: 1024px) {

    nav .nav-desktop {
        display: none;
    }

    nav .nav-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    nav .nav-mobile img {
        width: 100px;
        height: 90px;
    }

    nav .nav-mobile i {
        color: var(--font);
    }

    .services-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-content,
    .services-container.reverse .services-content {
        align-items: center;
        text-align: center;
        margin: 48px 0;
    }
}

@media screen and (max-width: 768px) {

    .hero-content {
        row-gap: 0px;
        padding-bottom: 80px;
    }


    .product-images img {
        max-height: 408px;
    }

    .product-images::before {
        width: 350px;
    }
    
    h1 {
        font-size: 3.6rem;
    }

    p {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    .bottom {
        margin-top: -60px;
    }

    .top {
        margin-bottom: -60px;
    }
}

@media screen and (max-width: 425px) {
    .product-images::before {
        display: none;
    }

    .bottom {
        margin-top: -30px;
    }

    .top {
        margin-bottom: -30px;
    }

    .product-images img {
        max-height: 380px;
    }

    .footer-social,
    .footer-links {
        flex-direction: column;
        row-gap: 56px;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }

    .footer-links .links a:nth-child(1) {
        margin-right: 0;
    }

    .thanks-content img {
        width: 100px;
    }

    .thanks-content h1 {
        font-size: 2.4rem;
    }

    .thanks-content p {
        font-size: 1.4rem;
    }
}