@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&family=Space+Grotesk:wght@500;700&display=swap');

:root {
    --main-bg: #F8EDEB;
    --secondary-bg: #FFF9F9;
    --tertiary-bg: #FEC89A;
    --main-button-bg: #FEC5BB;
    --font: #575757;
    --font-placeholder: #8E9EAD;
    --header-weight: 600;
    --text-font: 'Nunito', sans-serif;
    --header-font: 'Space Grotesk', sans-serif;
    --navbar-font-size: 1.6rem;
    --header-font-size: 6.4rem;
    --button-font-size: 1.6rem;
    --body-font-size: 2.4rem;
    --shadows: 1px 1px 0px 2px #222831;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: var(--main-bg);
}

header nav img {
    width: 180px;
}

nav {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

nav ul {
    display: inherit;
    column-gap: 40px;
}

nav ul li {
    font-size: var(--body-font-size);
}

a {
    
    color: var(--font);
}

.container {
    margin: 0 auto;
    background-color: var(--secondary-bg);
    background-image: url("/assets/Paws.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-button {
    width: 165px;
    height: 48px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    font-size: var(--button-font-size);
    background-color: var(--main-button-bg);
    box-shadow: var(--shadows);
    border: none;
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    color: var(--font);
}

h2 {
    font-family: var(--header-font);
    font-size: 4rem;
    color: var(--font);
}

p {
    font-size: var(--body-font-size);
    color: var(--font);
}

.caption,
b {
    font-size: 1.2rem;
}

.hero-content {
    max-width: 670px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 56px;
}

.input-email {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    box-shadow: var(--shadows);
    margin-top: 16px;
}

.input-email button {
    width: 300px;
}

.form {
    max-width: 450px;
    margin: 56px auto;
}

input {
    width: 100%;
    border: none;
    height: 48px;
    margin-left: 16px;
    font-size: 1.6rem;
    background-color: transparent;
}

input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

input::placeholder {
    font-size: 1.6rem;
    color: var(--font-placeholder);
}

.hero-content p {
    margin-top: 16px;
}

svg {
    margin-top: -90px;
}

.services-1-container {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
    background-image: url("/assets/Paws.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-images {
    display: flex;
    height: auto;
}

.product-images::before {
    content: '';
    position:absolute;
    width: 380px;
    height: 215px;
    background-color: var(--tertiary-bg);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #232323;
    z-index: -99;
    margin-top: -10px;
}

.product-images img {
    max-height: 408px;
}

.product-images img:nth-child(2) {
    margin-top: 100px;
    margin-left: -20px;
}

.services-content {
    max-width: 630px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.services-content p {
    margin-top: 24px;
}

.services-content .main-button {
    margin-top: 48px;
    width: 250px;
}